* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 100vh;
    background: url(../images/donation4.jpg) no-repeat;
    background-size: cover;
}

.overlay {
    background: rgba(50, 70, 80, 0.7);
    height: 100vh;
}

.header-container {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
    bottom: 30%;
}

.header-container h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.header-container p {
    font-size: 18px;
    color: #f5f5f5;
    margin-bottom: 25px;
}

.donate-button {
    background: #FF5959;
    padding: 12px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;

}

.donate-button a {
    text-decoration: none;
    color: #fff;
}

/* end header section */


.form-container {
    padding: 100px 0;
    text-align: center;
    color: #000;
}

.form-container h2 {
    font-size: 42px;
    padding-bottom: 25px;
}


.form-container .all-amount {
    padding-top: 30px;
    display: flex;
    margin-left: 30%;
}

.form-container .amount {
    margin-right: 15px;
    padding: 30px 20px;
    color: #707070;
    background: #efeded;
    font-weight: 900;
    font-size: 28px;
    border-radius: 5px;
}

.form-container .all-amount .active-amount {
    border: 2px solid #FF5959;
    color: #FF5959;
    margin-right: 15px;
    padding: 30px 20px;
    background: #FFEEEE;
    font-size: 28px;
    border-radius: 5px;
    font-weight: 900;
}

.form-container .other-amount {
    margin-top: 30px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(59, 58, 58);
    display: block;
    margin-left: 37%;
    padding: 5px 120px;
    text-align: center;
}

/* End donate now */

.plan-container {
    text-align: center;
    color: #000;
    margin: 0 30%;
}

.plan-container h2 {
    font-size: 42px;
    padding-bottom: 25px;
}

.icon-box {
    display: flex;
    margin: 0 15%;
    padding-top: 40px;

}

.icon-box .icons {
    margin: 0 10px;
    padding: 60px 20px;
    border-radius: 10px;

}

.icon-box .icons .icon {
    margin-bottom: 20px;
    text-decoration: justify;
}

.icon-box .icons .icon-content h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.icon-box .bg-one {
    background: #EDF5F6;
}

.icon-box .bg-two {
    background: #FFEEEE;
}

.icon-box .bg-three {
    background: #FFF4D6;
}

/* end donate plan */
.gallery-content {
    text-align: center;
    margin: 100px 29% 0;

}

.gallery-content h2 {
    font-size: 42px;
    padding-bottom: 25px;
}

.first-gallery {
    display: flex;
    padding-top: 50px;
    margin: 0 20%;

}

.first-gallery .image:hover {
    border: 1px solid #777;
}

.first-gallery.iamge img {
    width: 100%;
    height: auto;
}

.first-gallery.desc {
    padding: 15px;
    text-align: center;
}

.second-gallery {
    display: flex;
    padding-top: 50px;
    margin: 0 20%;
}

.second-gallery .image:hover {
    border: 1px solid #777;
}

.image {
    margin-left: 20px;
}

/* end image gallery */
.get-update {
    padding: 100px 0;
}

.newsletter-container h2 {
    font-size: 42px;
    padding-bottom: 20px;
    text-align: center;
}

.newsletter-container p {
    text-align: center;
    margin: 0 30%;
}

.newsletter-form .newsletter {
    border: none;
    color: #fff;
}

.newsletter {
    background: #FFF4D6;
    text-align: center;
    margin: 50px 25% 0;
    padding: 70px 0;
    border-radius: 5px;
}

.ebox,
.btn {
    border: none;
    outline: none;
}

.ebox {
    width: 260px;
    padding: 10px 20px;
    background: #D9D9D9;
    margin-left: 20px;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    background: #FF5959;
    margin-left: -20px;
    border-radius: 0 5px 5px 0;
}

/* end get update */

.footer {
    background: #000;
    text-align: center;
    padding: 40px 0;
}

.footer .footer-content h3 {
    color: #FF5959;
    font-size: 36px;
    font-style: italic;
}

.footer .footer-content p {
    color: #efeded;
    padding: 12px 0;
    font-size: 16px;
}

/* End footer */